{% extends 'borders.html' %}
{% block title %}Result{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="home-option">
                <div class="col-xs-12">
                    <div class="card card-outline-primary">
                        <p>Title: {{ document.document }}</p>
                        <p>This document is in queue to be converted. <br>Refresh the page after a while.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}